/* Write the CSS for you answer here */
#container{
    position: absolute;
    width: 700px;
    height:541px;
    left:25%;
   
}

img#pohutukawa {
    
    pointer-events: none; /* to restore it, set value to: auto */
}

#container:hover > .balls{
    animation-duration:4s;
    animation-name:hrmm;
    animation-iteration-count:2;
    animation-direction:alternate;
}

  
    @keyframes hrmm {
        from{top:500px;}
        50%{
            top:100px;
        }
        to{
            top:0px;
        }
    }

    
    
#background{
  position:absolute;
  height: 100%;
  width: 100%
  /* left:25%; */
  /* top: 25%;  */
}
#pohutukawa {
    position:absolute;
  height: 100%;
  width: 100%;
    /* left:25%; */
    /* top:30%; */
    z-index:2;
}

#darkblue {
    position:absolute;
    left:400px;
    top: 49%;
    z-index:3;
}

#blue {
    position:absolute;
    left:50%;
    top: 55%;
    z-index:3;
}

#green{
    position:absolute;
    left:60%;
    top: 73%;
    z-index:1;
}
#pink{
    position:absolute;
    left:75%;
    top: 75%;
    z-index:3;
}

#red{
    position:absolute;
    left:32%;
    top: 70%;
    z-index:3;
}

#orange{
    position:absolute;
    left:65%;
    top: 38%;
    z-index:3;
}

