/* Write the CSS for you answer here */
#container{
    position: absolute;
    width: 700px;
    height:541px;
    left:25%;
   
}
#background{
  position:absolute;
  height:100%;
  width: 100%; 
}
#pohutukawa {
    position:absolute;
    height:100%;
  width: 100%; 
    z-index:2;
}

#darkblue {
    position:absolute;
    left:400px;
    top: 49%;
    z-index:3;
}

#blue {
    position:absolute;
    left:50%;
    top: 55%;
    z-index:3;
}

#green{
    position:absolute;
    left:60%;
    top: 73%;
    z-index:1;
}
#pink{
    position:absolute;
    left:75%;
    top: 75%;
    z-index:3;
}

#red{
    position:absolute;
    left:32%;
    top: 70%;
    z-index:3;
}

#orange{
    position:absolute;
    left:65%;
    top: 38%;
    z-index:3;
}