@media print{
        
        @font-face {
            font-family: 'Pacifico';
            src: url('./FONTS/Pacifico.ttf');
        }

        .sonnet {
            /* color: purple; */
            color:black;
            line-height: 1.5;
            font-size: 22pt;
            font-family: 'Pacifico';
        }

        .sonnet strong {
            color:black;
            /* color: seagreen; */
            font-size: 25pt;
            font-weight: bolder;
            font-family: 'Pacifico';
        }

        #container {

            /* background-color: white; */
            width: 60%;
            padding-left:120pt;
            margin-left: auto;
            margin-right:auto;
            border-radius: 25px 50px 50px 25px;
            border: 1px solid;
            box-shadow: 0px 0px;

        }

        .top-left {
            position: fixed;
            left: 0%;
            top: 0%;
        }

        .bottom-right {
            position: fixed;
            left: 85%;
            top: 70%;
        }

    }

   